extends layout

block content
  body
    .row
      .col-md-12
        .row
          h3.pull-left= title
          h4.pull-left(style="margin: 23px 0 0 5px;")= " - " + dags
          div(class="pull-right", style="margin-top: 25px;")
            - for (var i=0; i<frettgroups.length; i++)
                a(href=frettgroups[i].url, style="padding-right: 20px;")= frettgroups[i].text
        - if (imgsrc)
          img.pull-left(src= imgsrc)
        p= texti
        p= rithofundur
    .row
      .col-md-12
        div.text-center(style="min-height:100px;")
          a(href="#Auglýsing")
            img(src= "banner.png")
    .row
      - if (undirfrett1)
        .col-md-4
          a(href= undirfrett1.url)
            .thumbnail
              - if (undirfrett1.imgsrc)
                img(src= undirfrett1.imgsrc)
              .caption
                h4= undirfrett1.title
      - if (undirfrett2)
        .col-md-4
          a(href= undirfrett2.url)
            .thumbnail
              - if (undirfrett2.imgsrc)
                img(src= undirfrett2.imgsrc)
              .caption
                h4= undirfrett2.title
      - if (undirfrett3)
        .col-md-4
          a(href= undirfrett3.url)
            .thumbnail
              - if (undirfrett3.imgsrc)
                img(src= undirfrett3.imgsrc)
              .caption
                h4= undirfrett3.title
